body {
    background-color: rgb(200, 211, 220);
    font-family: Verdana, Arial, Helvetica, sans-serif
}

h1 {
    letter-spacing: 2rem;
    font-weight: bolder;
}

a, a:hover {
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: rgb(139, 163, 214);
}

.page-content {
    background-color: white;
    box-shadow: 10px 5px 5px gray;
}

.dark-blue-color {
    background-color: rgb(45, 57, 83);
}

button.dark-blue-color:hover, button.dark-blue-color:active {
    background-color: rgb(104, 135, 202) !important;
}

.nav-button-active {
    background-color: rgb(104, 135, 202);
    font-weight: bolder;
}

a.nav-button-active:hover {
    background-color: rgb(104, 135, 202);
    font-weight: bolder;
}

#wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#range {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 15px;
    background: gray;
}

#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 30px;
    background: #04AA6D;
    cursor: pointer;
  }
  
#range::-moz-range-thumb {
    width: 50px;
    height: 30px;
    background: #04AA6D;
    cursor: pointer;
  }

#text {
    position: relative;
    left: 0px;
    pointer-events: none;
    width: 50px;
    height: 30px;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    line-height: 30px;
    border-radius: 1%;
}

